# BUSINESS_NAME=OneStop Shopping - Pokhara (business name  of the client
# NEXT_PUBLIC_PAP_INFO=eyJpbnN0aXR1dGlvbklkIjoiMDAwIiwibWlkIjoiMTIxMjEyMTIxMjEyMTIxIiwidGlkIjoiMTIzNDU2NzgifQ==(pap info of registered merchant which includes mid,tid and institution_code)
# NEXT_PUBLIC_OPR_KEY=4fa4c6b9-3f91-43e5-9b4f-319f68187ba5
# NEXT_PUBLIC_INS_KEY=""
# NEXT_PUBLIC_WEBSITE_DOMAIN=http://localhost:3000 (website domain of merchant which is registered in getpay)
# NEXT_PUBLIC_BASE_URL=https://uat-bank-getpay.nchl.com.np/ecom-web-checkout/v1/secure-merchant/transactions (base Url provided by getpay for making transaction api call)
# NEXT_PUBLIC_BUNDLE_URL=https://minio.finpos.global/getpay-cdn/webcheckout/v5/bundle.js (URL of the GetPay bundle script)
# NEXT_PUBLIC_LOGO_URL=https://store.com/image.png (URL of the merchant's logo can be added by merchant themselves, if not provided then default getpay logo will be used)
# NEXT_PUBLIC_SUCCESS_URL=http://localhost:3000/success.html (URL to redirect on successful payment)
# NEXT_PUBLIC_FAIL_URL=http://localhost:3000/fail.html (URL to redirect on failed payment)
